version: '3.8'

services:
  backend:
    build:
      context: ./miniprojectbackend
      dockerfile: Dockerfile
    container_name: flask-backend
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - DATABASE_URL=postgresql://neondb_owner:npg_HgV5LbqMDI2j@ep-blue-meadow-a4vw3sv8-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./miniprojectfrontend
      dockerfile: Dockerfile
    container_name: angular-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
